<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load cache %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

  <head>
    <meta charset="utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }} - {% endif %}{% block meta_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css"/>
    {% block extra_css %}{% endblock extra_css %}

    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png"/>
  </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="{{ STATIC_URL }}img/tanglu-logo.png" alt="Logo"/> Tanglu
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  {% page_menu "pages/menus/dropdown.html" %}
                </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>

        {% block banner %}{% endblock %}

        {% block all_content %}
        <div id="main-content" class="section">
            <div class="container">
                <div class="row">
                    <div class="{% block main_cols %}col-md-12{% endblock %}">
                        {% block main %}{% endblock %}
                    </div>
                    {% block after_main %}{% endblock %}
                    {% block right_panel %}{% endblock %}
                </div>
            </div> <!-- container -->
        </div> <!-- middle-content -->
        {% endblock %}

        {% block boxgroup %}
        <div class="boxgroup section">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-lg-6">
                        {% block boxgroup_box_left %}
                        {% cache 500 planet_feed %}

                        {% endcache %}
                        {% endblock boxgroup_box_left %}
                    </div>

                    {% comment %}
                    <div class="col-lg-4">
                        {% block boxgroup_box_center %}
                        <h2>Latest News</h2>
                        <ul>
                            <li><a href="#">This could be a link or a text block</a></li>
                            <li><a href="#">This could be a link or a text block</a></li>
                            <li><a href="#">This could be a link or a text block</a></li>
                            <li><a href="#">This could be a link or a text block</a></li>
                            <li><a href="#">This could be a link or a text block</a></li>
                        </ul>
                        {% endblock boxgroup_box_center %}
                    </div>
                    {% endcomment %}

                    <div class="col-lg-6">
                        {% block boxgroup_box_right %}
                        {% cache 500 packages_feed %}

                        {% endcache %}
                        {% endblock boxgroup_box_right %}
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- sponsors -->
        {% endblock boxgroup %}

        <footer class="section">
            <div class="container">
                <div class="row-fluid">
                    {% block footer %}
                    <div class="col-lg-6">
                        &copy; 2014-2017 The Tanglu Project
                        <img height="46px" src="{{ STATIC_URL }}img/tanglu-logo-gray-60px.png"/>
                    </div>

                    <div class="col-lg-6 text-right">
                        <a href="http://debian.org">
                            <img height="46px" src="{{ STATIC_URL }}img/debian-swirl.png"/>
                        </a>
                        Powered by Debian GNU/Linux
                    </div>
                    {% endblock footer %}
                </div>
            </div> <!-- container -->
        </footer>

        <!-- Javascript files -->
        {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock extra_js %}

        <!-- Meh, GA... We have to get rid of that soon, Piwik is waiting :-) -->
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39301068-1']);
        _gaq.push(['_setDomainName', 'tanglu.org']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>

    </body>
</html>
