{% extends "base.html" %}

{% block main_content %}
    <h2>You can contribute on the following ways:</h2>
    <h3>With time.</h3>
    <p>Time is the most expensive resource, if you are talented and have time to help out, here is a list of what we need:</p>
    <ul>
        <li>Translating this site, software, manuals or upstream projects.</li></li>
        <li>Designing wallpapers, bootup logos, this website.</li>
        <li>Promoting our project by writing articles about it.</li>
        <li>Ensuring documentation on our website doesn't get out of date.</li>
        <li>Testing the software and be willing to help out on further tests to ensure we can fix the issues.</li>
        <li>Documenting procedures on the wiki, including screenshots if it makes for easier understanding</li>
        <li>Help with website and infrastructure administration.</li>
        <li>Help creating packages.</li>
    </ul>

    <h3>With servers.</h3>
    <p>We need lots of infrastructure, since we are no rolling-release distribution and will have to provide a full Debian archive copy, as well as the required infrastructure to generate diffs for merging changes and for building packages.</p>
    <ul>
        <li>If you have a server which just idles at time, we would happily use it as buildd for package building.</li>
        <li>Also, other services like the package queue, bugtracker, merge system etc. need capacity.</li>
        <li>If you want, you could also provide an archive mirror.</li>
    </ul>

    <h3>With donations.</h3>
    <p>Do you like the project but don't have time to contribute back?</p>
    <ul>
        <li>As soon as the project has the minimum required to start running we will be accepting donations.</li>
        <li>Companies will also be able to sponsor the project.</li>
    </ul>

    <p>To get in touch with us, check out <a href="http://webchat.freenode.net/?channels=tanglu-devel">#tanglu-devel</a> on Freenode.</p>
    <p>Or you can also subscribe to our <a href="http://lists.tanglu.org/mailman/listinfo/tanglu-devel">development mailinglist.</a>.</p>
{% endblock main_content %}
