{% extends "base.html" %}

{% load i18n %}
{% load tanglu_extras %}

{% block main_content %}
    <h2>{% trans "Sorry! We are still in the womb, yet to be born :D" %}</h2>
    <p>
        {% url 'contribute' as contribute_link %}
        {# Translators: %(name)s are variables. Do not translate. #}
        {% blocktrans with link_1="<a href='{}'>"|safewrap:contribute_link link_2="</a>" %}But wait! You can help, check it out the {{ link_1 }} contribute section {{ link_2 }}!{% endblocktrans %}
    </p>
{% endblock main_content %}
