{% extends "base.html" %}

{% block main_content %}
<h3 class="faq-question">What is Tanglu?</h3>
<p>
    Tanglu is a GNU/Linux Operating System, which aims to provide the best desktop experience for regular users and enthusiasts.
</p>

<h3 class="faq-question">What does the name "Tanglu" mean?</h3>
<p>
    Finding a catchy name is by no means an easy job, our criteria was:
    <ul>
        <li>Needs to be easy to remember, maybe an unique name used nowhere else</li>
        <li>Nice sounding in English, German and Brazilian portuguese</li>
        <li>Available domains (.org .net)</li>
    </ul>
    The word then evolved out of the words tangerine and iglu (igloo), after trying a large number of words for days.
</p>

<h3 class="faq-question">How often and when will it be released?</h3>
<p>
    For now it is planned that we will release 2 times a year, but this isn't written in stone yet. Right now we are working on configuring servers to start building software
</p>

<h3 class="faq-question">Will firmware be available on CDs?</h3>
<p>
    Yes, it's very frustrating for the average user to try on their own to install firmware, especially when it's preventing them from getting online. We will include firmware even if it isn't open source. But except for the firmware, there will be no proprietary modules in the distribution. We will also only include firmware which is part of upstream Linux.
</p>

<h3 class="faq-question">It's based on Debian, will it have long feature freezes?</h3>
<p>
    No, we are setting up our own software archive so our users get the lastest software that we believe is stable enough.
</p>

<h3 class="faq-question">Will you have a default desktop environment?</h3>
<p>
    No, all major desktops will be supported. We will provide screenshots and a small feature table to help the user to decide which desktop to choose on the Tanglu download page.
</p>

<h3 class="faq-question">Do you plan to heavily modify the software you ship?</h3>
<p>
    No, we want the user to have the look and feel intended by the original software developer. If we believe upstream isn't doing a good job we will talk to upstream first to find a solution which works for everyone. If this will not work in rare cases, we may decide to use a different upstream. We want to avoid in-house solutions, and everything developed for Tanglu will be available for other distributions too.
</p>

<h3 class="faq-question">Why don’t you contribute to Debian directly and create yet another distribution?</h3>
<p>
    We do contribute to Debian. The point is that Debian can not cover all possible use-cases, for example for people who want to use newer software, Debian freezes are annoying. But the freezes are a big strength if you want to use Debian as server OS. With Tanglu we want to build a distribution which provides a Debian experience for desktop users, Linux newbies and users who want up-to-date software and no rolling release.
</p>
<p>
    You might ask why we have to create a new distribution for that, instead of creating improvements inside Debian? Creating a new distribution allows us to do stuff we can never do in Debian, for example including more firmware by default and having a time-based release cycle. These are already things which are a no-go for Debian, and that’s fine. We don’t want Debian to support these cases, as it is already a great distribution. We want to offer a distro as close to Debian as possible, but with a few modifications for use-cases which are not covered by Debian itself, and by doing that add value to the Debian ecosystem. Of course we will participate in the <a href="http://wiki.debian.org/DEX">DEX</a> project and work closely with Debian.
</p>

<h3 class="faq-question">How is the relation to Debian?</h3>
<p>
    Tanglu is not an 'offical' Debian project, although it was started together with some Debian Developers. But we think that Tanglu might help Debian. We will sync the permissions of all Debian developers, so they can maintain their packages in Tanglu during a Debian freeze if they want to do that, so Tanglu and it's users get the latest upstream software, while Debian can start the new release cycle with already tested packages from Tanglu. We believe that this will increase the package quality and result in a less rough start of Debian development after a freeze. However, Tanglu is not a Debian experimental distribution or playground for untested software. Everything in Tanglu should be usable for it's users and be released upstream software. We are in contact with Debian and try to keep the delta between Tanglu and Debian as low as possible, so we do not introduce incompatibilities.
</p>

<h3 class="faq-question">Is there a company behind this operating system?</h3>
<p>
    Yes and no, yes because we need money to rent our servers and stuff, and no by there is no company dictating the flow of the project. We believe in meritocracy, if some company decides to put lots of developers to work with us it's natural that they will be able to control what they are helping, the same way a developer that maintains a few packages will have the right to decide what is best for those.
</p>

<h3 class="faq-question">In case of disagreement will you start another project?</h3>
<p>
    Who knows? The decision making process of this project will end up in voting sessions so again everyone involved (including a company's employees) will have the right to vote. Tanglu is entirely community-driven, so we expect that there will be problems from time to time, but we think that these can all be solved. We take every community-member and not-member serious and try to find a solution which works for most people.
</p>

{% endblock main_content %}
