{% extends "base.html" %}

{% load i18n %}

{% block main_content %}
    <h2>{% trans "Welcome to the Tanglu website" %}</h2>

    <p>{% trans "A new GNU/Linux distribution based on Debian, designed for human beings." %}</p>

    <p>
        {# Translators: %(name)s are variables. Do not translate. #}
        {% blocktrans with link_1="<a href='http://blog.tenstral.net/2013/03/tanglu.html'>" link_2="</a>" %}Read the {{ link_1 }} initial announcement {{ link_2 }}.{% endblocktrans %}
    </p>

    <p>
        {# Translators: %(name)s are variables. Do not translate. #}
        {% blocktrans with users_channel="<a href='http://webchat.freenode.net/?channels=tanglu'>#tanglu</a>" devs_channel="<a href='http://webchat.freenode.net/?channels=tanglu-devel'>#tanglu-devel</a>" %}If you want to get in contact, check out ther user's channel {{ users_channel }} on Freenode (discussion about Tanglu development is happening at {{ devs_channel }}).{% endblocktrans %}
    </p>

    <p>
        {# Translators: %(name)s are variables. Do not translate. #}
        {% blocktrans with link_1="<a href='http://lists.tanglu.org/mailman/listinfo'>" link_2="</a>" %}You can also subscribe to one of our {{ link_1 }} mailinglists {{ link_2 }}, bigger announcements will be posted to the low-volume tanglu-announce mailinglist.{% endblocktrans %}
    </p>
{% endblock main_content %}
